/* Color */
:root{
    --primary:#1B262C;
    --secondary:#224c4c;
    --mono:#1c2f3a;
    --light:#f0f1ef;
    --dark:#22252a;
}
body{
    font-family: 'Lora', serif;
    overflow-x: hidden;
}
.p-6{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.pt-6{
    padding-top: 6rem;
    /* padding-bottom: 6rem; */
}
.mt-6{
    margin-top: 5rem;
}
.bg-main{
    background-color: var(--primary);
}

.navbar{
    /* background: var(--mono) !important; */
    background-color: transparent;
}
.nav-link, .navbar-brand{
    font-weight: bolder;
    color: var(--light);
    transition: 1s;
    text-transform: uppercase;
}
.nav-link:hover, .navbar-brand:hover{
    color: var(--light);
    transition: 1s;
}
#home{
    background: rgb(41,50,60);
    background: linear-gradient(90deg, rgba(41,50,60,1) 0%, rgba(72,85,99,1) 77%);
    min-height: 100vh;
    margin-top: -8vh;
}
.btn{
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#about{
    /* background: var(--primary); */
    background: rgb(41,50,60);
    background: linear-gradient(90deg, rgba(41,50,60,1) 0%, rgba(72,85,99,1) 77%);
    min-height: 100vh;
    /* margin-top: -7vh; */
}
#kiri{
    min-height: 50vh;
    color: var(--light);
}
#kanan{
    min-height: 50vh;
}
#job{
    color: var(--light);
}
@media screen and (max-width: 600px) {
    #home{
        margin-top: -10vh;
        max-height:200vh ;
    }
    #profil{
        width: 80%;
    }
    #kiri > h1{
        font-size: 20pt !important;
    }
    .offcanvas-body{
        background-color: var(--dark);
    }
    .nav-link, .navbar-brand{
        font-weight: bolder;
        color: var(--light);
        transition: 1s;
        text-transform: uppercase;
    }
  }